/*****Шрифты******/
$font_roboto_normal: normal 400 1rem Roboto sans-serif;
$font_roboto_bold: normal 500 1rem Roboto sans-serif;
$font_inter: normal 400 1rem Inter sans-serif;

/*Цвета*/
$bkg_gray: #ebeef3;
$green: #52c41a;
$data-gray: rgba(0, 0, 0, 0.5);
$text-color: rgba(0, 0, 0, 0.75);
$name-color: rgba(0, 0, 0, 0.85);
$link: #1890ff;
$placeholder: #bfbfbf;
$form-header: #262626;
