@import '../helpers/variables.scss';

.article {
  display: grid;
  grid-template-areas: 'info author' 'description author';
  grid-template-columns: auto 240px;
  justify-content: space-between;
  align-items: start;

  width: 100%;
  margin: 0 auto 26px;
  padding: 15px 16px;
  min-height: 140px;

  background-color: #fff;
  box-shadow: (0px 4px 12px rgba(0, 0, 0, 0.15));
  font: $font_inter;

  .info {
    grid-area: info;
    div > .header {
      display: inline-block;
      margin-right: 13px;

      color: $link;
      font-size: 1.25rem;
      text-decoration: none;
    }
    div > button {
      height: 16px;
      width: 16px;

      background-color: #fff;
      border: none;
      cursor: pointer;

      .empty {
        font-size: 1.2rem;
        line-height: 0%;
        color: #000;
      }
      .red {
        font-size: 1rem;
        color: red;
      }
    }

    div > span {
      display: inline-block;
      margin-left: 5px;
      padding-bottom: 5px;
      vertical-align: middle;
      font-size: 0.75rem;
    }
    .tag > div {
      display: inline-block;
      width: auto;
      margin-right: 8px;
      padding: 0 3px;

      font-size: 0.75rem;
      color: $text-color;
      border-radius: 2px;
      border: 1px solid $text-color;
    }
    .tag > div:not(:first-child) {
      color: $data-gray;
      border: 1px solid $data-gray;
    }
  }
  .author {
    display: grid;
    justify-content: end;
    grid-template-areas: 'name img' 'data img';
    grid-template-rows: 28px 18px;
    grid-area: author;
    .name {
      grid-area: name;
      text-transform: capitalize;
      font-size: 1.125rem;
      color: $name-color;
    }
    .data {
      grid-area: data;
      font-size: 0.75rem;
      color: $data-gray;
    }
    img {
      grid-area: img;
      width: 46px;
      height: 46px;
      margin-left: 12px;
      border-radius: 50%;
    }
  }
  .description {
    grid-area: description;
    color: $text-color;
    font-size: 0.75rem;
    line-height: 1.8em;
  }
}
